.book .book-header h1 {
  opacity: 1;
  text-align: left;
}

#header .title {
  margin-bottom: 0em;
}
#header h4.author {
  margin: 0;
  color: #666;
}
#header h4.author em {
  font-style: normal;
}

.boxed {
  background: whitesmoke;
  border: thin solid black;
  margin: 0px auto;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 1em;
}
